[submodule "reactive-java"]
	path = reactive-java
	url = https://github.com/durutheguru/reactive-java.git
[submodule "reactive-samples"]
	path = reactive-samples
	url = https://github.com/durutheguru/reactive-samples.git
